@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  box-sizing: inherit;
  margin: 0;
  max-width: 1920px;
  width: 100%;
  min-height: 102.9rem;
  font-family: "OpenSans", sans-serif;

  background: url(../image/image-bg.png),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(217, 227, 239, 1) 0%
    );

  background-position: bottom 0% left 85%;
  background-repeat: no-repeat;
}

*,
*::before,
*::after {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 117rem;
  width: 100%;
  margin: 0 auto;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 5rem;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding: 0;
}

.nav__item {
  position: relative;
  width: 10.6rem;
  height: 4.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.nav__link {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  letter-spacing: 1.6px;
}

.nav__item::after {
  content: "";
  position: absolute;
  padding-block: 2rem;
  padding-inline: 5rem;
  top: 0;
  left: 0;
  transform: translate(-50% -50%);
  border: 0.2rem solid transparent;
  text-align: center;
  transition: all 0.4s ease-in-out;
  font-weight: 600;
  opacity: 0;
}

.nav__item:hover::after {
  border: 0.2rem solid currentColor;
  opacity: 1;
}

.header__soc1als {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* main */

/* section cloth */
.cloth {
  padding-top: 25rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.cloth__title {
  max-width: 52.9rem;
  width: 100%;
  font-size: 6rem;
  font-weight: 700;
  color: #373737;
}

.cloth__button {
  display: flex;
  justify-self: center;
  align-self: start;
  padding: 2.2rem 5.5rem;

  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.92px;
  color: #fff;
  background: #373737;
}
